@import "~bootstrap/scss/bootstrap";
*
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  body{
  width: 100%;
  height: 100vh;
  font-family:'Roboto';
  }

.app{
  width: 70%;
  height :100vh;
  margin: 0 auto;
}
